<a href="https://colab.research.google.com/github/Ophineon/Winter2022MicroCred/blob/main/2020electionturnoutrateswrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [30]:
etr = pd.read_csv('https://raw.githubusercontent.com/Ophineon/Data/main/2020electionturnoutrates')

In [31]:
etr.head()
#checking the start of the dataset

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK
3        Arizona  ...        AZ
4       Arkansas  ...        AR

[5 rows x 15 columns]

In [32]:
etr.info()
#checking columns to see what i want to analyze

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                52 non-null     object
 1   Source                               40 non-null     object
 2   Official/Unofficial                  25 non-null     object
 3   Total Ballots Counted (Estimate)     52 non-null     object
 4   Vote for Highest Office (President)  24 non-null     object
 5   VEP Turnout Rate                     52 non-null     object
 6   Voting-Eligible Population (VEP)     52 non-null     object
 7   Voting-Age Population (VAP)          52 non-null     object
 8   % Non-citizen                        52 non-null     object
 9   Prison                               52 non-null     object
 10  Probation                            52 non-null     object
 11  Parole                               52 non-null     object
 12  Total Ineligible Felon               52 non-null     object
 13  Overseas Eligible                    1 non-null      object
 14  State Abv                            51 non-null     object
dtypes: object(15)
memory usage: 6.2+ KB

In [20]:
#non - citizen voters per state
#so I drop all the columns that are not important or have useless info
to_drop = ['Source',
           'Prison',
           'State Abv',
           'Parole',
           'Probation',
           'Total Ineligible Felon',
           'Overseas Eligible',
           'Voting-Age Population (VAP)',
           'Voting-Eligible Population (VEP)',
           'VEP Turnout Rate',
           'Vote for Highest Office (President)',
           'Total Ballots Counted (Estimate)',
           'Official/Unofficial']

In [33]:
#drop columns based on list 
etr.drop(columns=to_drop, inplace=True)

In [34]:
etr.head()
#very cool

           State % Non-citizen
0  United States          7.8%
1        Alabama          2.3%
2         Alaska          3.4%
3        Arizona          8.9%
4       Arkansas          3.6%

In [70]:
etr2= etr.set_index('State')
#changing index for readability and assigning new variable
etr2

                     % Non-citizen
State
United States                 7.8%
Alabama                       2.3%
Alaska                        3.4%
Arizona                       8.9%
Arkansas                      3.6%
California                   15.0%
Colorado                      5.7%
Connecticut                   7.7%
Delaware                      5.8%
District of Columbia          7.1%
Florida                      10.1%
Georgia                       6.6%
Hawaii                        9.1%
Idaho                         4.1%
Illinois                      7.8%
Indiana                       3.6%
Iowa                          3.5%
Kansas                        4.9%
Kentucky                      2.8%
Louisiana                     2.8%
Maine                         1.7%
Maryland                      8.4%
Massachusetts                 8.7%
Michigan                      3.6%
Minnesota                     4.1%
Mississippi                   1.4%
Missouri                      2.4%
Montana                       1.2%
Nebraska                      4.8%
Nevada                       11.6%
New Hampshire                 3.0%
New Jersey                   11.1%
New Mexico                    6.2%
New York                     10.5%
North Carolina                5.7%
North Dakota                  3.0%
Ohio                          2.6%
Oklahoma                      4.3%
Oregon                        5.7%
Pennsylvania                  3.5%
Rhode Island                  6.4%
South Carolina                3.6%
South Dakota                  2.4%
Tennessee                     3.6%
Texas                        12.6%
Utah                          6.2%
Vermont                       2.3%
Virginia                      6.8%
Washington                    9.1%
West Virginia                 0.9%
Wisconsin                     3.2%
Wyoming                       2.2%

In [71]:
etr2.loc['Florida']
#checking on the florida men

% Non-citizen    10.1%
Name: Florida, dtype: object

In [97]:
#gotta convert the percentage characters in the perecent from string to float
etr3 = etr2['% Non-citizen'].str[:-1].astype(float)/100
# tried df['col'] = df['col'].str.rstrip('%').astype('float') / 100.0 to
#remove % from string then convert number to actual percentage
# then used df['a'].str.replace(r'%', r'.0').astype('float') / 100.0 to replace string part and assign new variable
etr3
#replace causes column name to disappear

State
United States           0.078
Alabama                 0.023
Alaska                  0.034
Arizona                 0.089
Arkansas                0.036
California              0.150
Colorado                0.057
Connecticut             0.077
Delaware                0.058
District of Columbia    0.071
Florida                 0.101
Georgia                 0.066
Hawaii                  0.091
Idaho                   0.041
Illinois                0.078
Indiana                 0.036
Iowa                    0.035
Kansas                  0.049
Kentucky                0.028
Louisiana               0.028
Maine                   0.017
Maryland                0.084
Massachusetts           0.087
Michigan                0.036
Minnesota               0.041
Mississippi             0.014
Missouri                0.024
Montana                 0.012
Nebraska                0.048
Nevada                  0.116
New Hampshire           0.030
New Jersey              0.111
New Mexico              0.062
New York                0.105
North Carolina          0.057
North Dakota            0.030
Ohio                    0.026
Oklahoma                0.043
Oregon                  0.057
Pennsylvania            0.035
Rhode Island            0.064
South Carolina          0.036
South Dakota            0.024
Tennessee               0.036
Texas                   0.126
Utah                    0.062
Vermont                 0.023
Virginia                0.068
Washington              0.091
West Virginia           0.009
Wisconsin               0.032
Wyoming                 0.022
Name: % Non-citizen, dtype: float64

In [98]:
etr3.head()

State
United States    0.078
Alabama          0.023
Alaska           0.034
Arizona          0.089
Arkansas         0.036
Name: % Non-citizen, dtype: float64

[0.078,
 0.023,
 0.034,
 0.08900000000000001,
 0.036000000000000004,
 0.15,
 0.057,
 0.077,
 0.057999999999999996,
 0.071,
 0.10099999999999999,
 0.066,
 0.091,
 0.040999999999999995,
 0.078,
 0.036000000000000004,
 0.035,
 0.049,
 0.027999999999999997,
 0.027999999999999997,
 0.017,
 0.084,
 0.087,
 0.036000000000000004,
 0.040999999999999995,
 0.013999999999999999,
 0.024,
 0.012,
 0.048,
 0.11599999999999999,
 0.03,
 0.111,
 0.062,
 0.105,
 0.057,
 0.03,
 0.026000000000000002,
 0.043,
 0.057,
 0.035,
 0.064,
 0.036000000000000004,
 0.024,
 0.036000000000000004,
 0.126,
 0.062,
 0.023,
 0.068,
 0.091,
 0.009000000000000001,
 0.032,
 0.022000000000000002]

In [110]:
etr3.nlargest(n=5, keep='first')
# sort_values() got multiple values for argument 'axis' error because removing percents removed column name

State
California    0.150
Texas         0.126
Nevada        0.116
New Jersey    0.111
New York      0.105
Name: % Non-citizen, dtype: float64

In [ ]:
#conclusion california has the highest non citizen voter percentage with texas being close behind.
#I assume it is because they are closer to Mexico